<div class="top-servicew">
			<div class="container">
				<!-- Marketing Icons Section -->
				<div class="rows">
					<div class="col-sm-4 marcard-s">
						<h3 class="top-til">Refine your search</h3>
							<md-card>
								<div class="overview-provider">								
									<div class="block-location">
										<h4 class="provider">
											<i class="fa fa-map-marker"></i>Location
										</h4>
										<div class="locarionserch-s">
											<div class="display-title">
												<div class="malborn-s">Melbourne</div>
												<div class="malbordis-s">
													<a href="#"><i class="fa fa-times"></i></a>
												</div>
											</div>
											<div class="display-discrip">
												<a href="#">Add More</a>
											</div>
										</div>
										<div class="view-map">
											<md-button md-no-ink class="md-green">View Map</md-button>
										</div>
									</div>
									<div class="block-location">
										<h4 class="provider">
											<i class="fa fa-th-large"></i>Service or Business
										</h4>
										<div class="locarionserch-s">
											<div class="display-title">
												<div class="malborn-s">Massage</div>
												<div class="malbordis-s">
													<a href="#"><i class="fa fa-times"></i></a>
												</div>
											</div>
											<div class="display-discrip">
												<a href="#">Add More</a>
											</div>
										</div>
										<div class="view-map">
											<md-button md-no-ink class="md-green">View Map</md-button>
										</div>
									</div>									
									<div class="divder-s"></div>	
									<div class="block-contact">
										<h4 class="provider">
											<i class="fa fa-bookmark"></i> Price
										</h4>
										<div class="price-select">
											<div layout="row">
												  <md-input-container style="margin-right: 10px;">
													<label>$50</label>
													<md-select ng-model="size">
													  <md-option>$50</md-option>
													</md-select>
												  </md-input-container>
												   <md-input-container style="margin-right: 10px;">
													<span class="tosel-s">to</span>
												   </md-input-container>
												  <md-input-container style="margin-right: 10px;">
													<label>$100</label>
													<md-select ng-model="size">
													  <md-option>$100</md-option>
													</md-select>
												  </md-input-container>
											</div>
										</div>
									</div>
									<div class="divder-s"></div>
									<div class="block-tradinghour">
										<h4 class="provider">
											<i class="fa fa-calendar"></i> Date
										</h4>
										<div class="trading-dates">
											 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
										</div>
									</div>
								</div>
							</md-card>	
							<div class="blk-poplueresult">
								<h3 class="top-til">More For Your Money</h3>
					   <slick class="slider" current-index="index" responsive="breakpoints" slides-to-show=3 slides-to-scroll=1 vertical="true" verticalSwiping="true">
							<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="popler-result">
										<div class="pleft-part">
											<img src="static/image/img_002.png"/>
										</div>
										<div class="pright-part">
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet elit. Fusce terasa emos dapibus.
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="popler-result">
										<div class="pleft-part">
											<img src="static/image/img_001.png"/>
										</div>
										<div class="pright-part">
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet elit. Fusce terasa emos dapibus.
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="popler-result">
										<div class="pleft-part">
											<img src="static/image/img_002.png"/>
										</div>
										<div class="pright-part">
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet elit. Fusce terasa emos dapibus.
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="popler-result">
										<div class="pleft-part">
											<img src="static/image/img_003.png"/>
										</div>
										<div class="pright-part">
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet elit. Fusce terasa emos dapibus.
											</div>
										</div>
									</div>
								</md-card>
						</div>						
					   </slick>
							
							</div>
						</div>

					</div>
					
					
					
					<div class="col-sm-8 resultsmsin-s">						
						<h3 class="top-til">50 results</h3>
					   <slick class="slider" current-index="index" responsive="breakpoints" slides-to-show=4 slides-to-scroll=1 vertical="true" verticalSwiping="true">
							<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="result-view">
										<div class="pleft-part">											
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus. Lorem ipsum dolor sit amet esom consectet scing dolor sit amet terasa emos elit.
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary">Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
										<div class="pright-part">
											<img src="static/image/img1_01.png"/>
										</div>	
										<div class="bottom-block clearfix">
											<div class="ratetin-s">
												<div class="reating-s">
													<label>
														Rating
													</label>
													<span>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</span>
												</div>
												<div class="avaana-s">
													<label>Avaana Score</label>
													<span>88%</span>
												</div>
												<div class="location-a">
													<label>2.5 Kilometres</label>
													<span>From Your Location</span>
												</div>
												<div class="view-money view-map">
													<md-button md-no-ink class="md-primary">VIEW MAP</md-button>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="result-view">
										<div class="pleft-part">											
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus. Lorem ipsum dolor sit amet esom consectet scing dolor sit amet terasa emos elit.
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary">Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
										<div class="pright-part">
											<img src="static/image/img1_01.png"/>
										</div>	
										<div class="bottom-block clearfix">
											<div class="ratetin-s">
												<div class="reating-s">
													<label>
														Rating
													</label>
													<span>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</span>
												</div>
												<div class="avaana-s">
													<label>Avaana Score</label>
													<span>88%</span>
												</div>
												<div class="location-a">
													<label>2.5 Kilometres</label>
													<span>From Your Location</span>
												</div>
												<div class="view-money view-map">
													<md-button md-no-ink class="md-primary">VIEW MAP</md-button>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="result-view">
										<div class="pleft-part">											
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus. Lorem ipsum dolor sit amet esom consectet scing dolor sit amet terasa emos elit.
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary">Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
										<div class="pright-part">
											<img src="static/image/img1_01.png"/>
										</div>	
										<div class="bottom-block clearfix">
											<div class="ratetin-s">
												<div class="reating-s">
													<label>
														Rating
													</label>
													<span>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</span>
												</div>
												<div class="avaana-s">
													<label>Avaana Score</label>
													<span>88%</span>
												</div>
												<div class="location-a">
													<label>2.5 Kilometres</label>
													<span>From Your Location</span>
												</div>
												<div class="view-money view-map">
													<md-button md-no-ink class="md-primary">VIEW MAP</md-button>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="result-view">
										<div class="pleft-part">											
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus. Lorem ipsum dolor sit amet esom consectet scing dolor sit amet terasa emos elit.
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary">Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
										<div class="pright-part">
											<img src="static/image/img1_01.png"/>
										</div>	
										<div class="bottom-block clearfix">
											<div class="ratetin-s">
												<div class="reating-s">
													<label>
														Rating
													</label>
													<span>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</span>
												</div>
												<div class="avaana-s">
													<label>Avaana Score</label>
													<span>88%</span>
												</div>
												<div class="location-a">
													<label>2.5 Kilometres</label>
													<span>From Your Location</span>
												</div>
												<div class="view-money view-map">
													<md-button md-no-ink class="md-primary">VIEW MAP</md-button>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="result-view">
										<div class="pleft-part">											
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus. Lorem ipsum dolor sit amet esom consectet scing dolor sit amet terasa emos elit.
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary">Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
										<div class="pright-part">
											<img src="static/image/img1_01.png"/>
										</div>	
										<div class="bottom-block clearfix">
											<div class="ratetin-s">
												<div class="reating-s">
													<label>
														Rating
													</label>
													<span>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</span>
												</div>
												<div class="avaana-s">
													<label>Avaana Score</label>
													<span>88%</span>
												</div>
												<div class="location-a">
													<label>2.5 Kilometres</label>
													<span>From Your Location</span>
												</div>
												<div class="view-money view-map">
													<md-button md-no-ink class="md-primary">VIEW MAP</md-button>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="result-view">
										<div class="pleft-part">											
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus. Lorem ipsum dolor sit amet esom consectet scing dolor sit amet terasa emos elit.
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary">Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
										<div class="pright-part">
											<img src="static/image/img1_01.png"/>
										</div>	
										<div class="bottom-block clearfix">
											<div class="ratetin-s">
												<div class="reating-s">
													<label>
														Rating
													</label>
													<span>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</span>
												</div>
												<div class="avaana-s">
													<label>Avaana Score</label>
													<span>88%</span>
												</div>
												<div class="location-a">
													<label>2.5 Kilometres</label>
													<span>From Your Location</span>
												</div>
												<div class="view-money view-map">
													<md-button md-no-ink class="md-primary">VIEW MAP</md-button>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="result-view">
										<div class="pleft-part">											
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus. Lorem ipsum dolor sit amet esom consectet scing dolor sit amet terasa emos elit.
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary">Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
										<div class="pright-part">
											<img src="static/image/img1_01.png"/>
										</div>	
										<div class="bottom-block clearfix">
											<div class="ratetin-s">
												<div class="reating-s">
													<label>
														Rating
													</label>
													<span>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</span>
												</div>
												<div class="avaana-s">
													<label>Avaana Score</label>
													<span>88%</span>
												</div>
												<div class="location-a">
													<label>2.5 Kilometres</label>
													<span>From Your Location</span>
												</div>
												<div class="view-money view-map">
													<md-button md-no-ink class="md-primary">VIEW MAP</md-button>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="result-view">
										<div class="pleft-part">											
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus. Lorem ipsum dolor sit amet esom consectet scing dolor sit amet terasa emos elit.
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary">Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
										<div class="pright-part">
											<img src="static/image/img1_01.png"/>
										</div>	
										<div class="bottom-block clearfix">
											<div class="ratetin-s">
												<div class="reating-s">
													<label>
														Rating
													</label>
													<span>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</span>
												</div>
												<div class="avaana-s">
													<label>Avaana Score</label>
													<span>88%</span>
												</div>
												<div class="location-a">
													<label>2.5 Kilometres</label>
													<span>From Your Location</span>
												</div>
												<div class="view-money view-map">
													<md-button md-no-ink class="md-primary">VIEW MAP</md-button>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="result-view">
										<div class="pleft-part">											
											<div class="title-p">Popular Result One</div>
											<div class="sub-title-p">New Era Massage</div>
											<div class="discrip-p">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus. Lorem ipsum dolor sit amet esom consectet scing dolor sit amet terasa emos elit.
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary">Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
										<div class="pright-part">
											<img src="static/image/img1_01.png"/>
										</div>	
										<div class="bottom-block clearfix">
											<div class="ratetin-s">
												<div class="reating-s">
													<label>
														Rating
													</label>
													<span>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star green-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</span>
												</div>
												<div class="avaana-s">
													<label>Avaana Score</label>
													<span>88%</span>
												</div>
												<div class="location-a">
													<label>2.5 Kilometres</label>
													<span>From Your Location</span>
												</div>
												<div class="view-money view-map">
													<md-button md-no-ink class="md-primary">VIEW MAP</md-button>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
					   </slick>
					</div>
	
				</div>
			</div>
		</div>