 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app.home"><img src="static/image/logo.png"/></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right list-nav-s">
                       <li class="">
                        <a ui-sref="app.providerDashboard">Avaana Provider</a>
                    </li>

                    <li class="first">
                        <a ng-click='listyourbusiness()'>List Your Business</a>
                    </li>
                    <li ng-click='logout()' ng-if="app.isLogin"><a>Log out</a> </li>
                    <li><a ng-click='login()' ng-if="!app.isLogin">Log In</a> </li>
					<li><md-button class="md-raised md-green" ng-click='register()' ng-if="!app.isLogin">Sign Up</md-button></li>
					
                </ul>
            </div>
        </div>
    </nav>
	<div class="content">
		<div ui-view="searchBar"></div>
        <!-- ****************   Dynamic content loading ******************* -->
        <div ui-view="content">
        <!-- ****************   Dynamic content loading ******************* -->
		
        </div>

        <div class="footermenu-s">
			<div class="container">
				<div class="row ftr-menu-links">
					<div class="col-sm-6 col-xs-12">
						<ul class="detail-link">
							<li><a>About</a></li>						
							<li><a>For Businesses</a></li>							
							<li><a>News</a></li>							
							<li class="last"><a>Contact</a></li>
						</ul>
					</div>
					<div class="col-sm-6 col-xs-12">
						<ul class="social-link">
							<li class="first">Connect</li>
							<li><a><i class="fa fa-twitter"></i></a></li>
							<li><a><i class="fa fa-facebook"></i></a></li>
							<li><a><i class="fa fa-instagram"></i></a></li>
							<li><a><i class="fa fa-google-plus"></i></a></li>
							<li><a><i class="fa fa-envelope"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-links">
			<div class="container">
				<div class="row green-ftr">
					<div class="col-sm-6 col-xs-12">
						<div class="copy">© Copyright Avaana 2015. All Rights Reserved.</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<ul class="policy-link">
							<li><a>Email Subscriptions</a></li>
							<li><a>Privacy Policy</a></li>
							<li><a>Terms of Use</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
        
	</div>