
<!-- <div style="border:solid 2px red;">
        <div id='calendar'></div>
</div> -->



<div class="top-servicew">
    <div class="container">
        <div class="rows">
            <div class="col-sm-12">
                <h3 class="top-til m-lr-10">
                    <i class="fa fa-user" aria-hidden="true"></i> List your Business
                    <span class="text-right last-loginmain">
								<label class="last-login">Your last login:</label>
								<span class="from-ago">2 days ago from Australia</span>
                    </span>
                </h3>
                <md-card>
                    <div class="ava-tabs">
                        <md-content>
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="Dashboard">
                                    <md-content class="md-padding">
                                        <h1 class="md-headline">My Account</h1>
                                        <div class="md-subhead">This window shows general account details:</div>
                                        <div class="myaccount-s">
                                            <div class="myact-menus">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-angle-right"></i> Business Details</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-angle-right"></i> Services</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-angle-right"></i> Practitioners / Staff</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-angle-right"></i> Update / Edit account details</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <md-divider></md-divider>
                                        <div class="distance-cal">
                                            <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                                                <div flex-gt-sm="50" class="cal-manage">
                                                    <h1 class="md-headline">Calender</h1>
                                                    <div class="myaccount-s">
                                                        <div class="myact-menus">
                                                            <ul>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-angle-right"></i> View calender</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-angle-right"></i> View staff calenders</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-angle-right"></i> Sync calender</a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div flex-gt-sm="50" class="cal-booking">
                                                    <h1 class="md-headline">Manage Bookings</h1>
                                                    <div class="myaccount-s">
                                                        <div class="myact-menus">
                                                            <ul>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-angle-right"></i> View customer bookings</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-angle-right"></i> Availability</a>
                                                                </li>
                                                            </ul>
                                                            <div class="dis-graph">(Could show a graph of the current weeks booking numbers)</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <md-divider></md-divider>
                                        <div class="distance-cal">
                                            <div layout="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
                                                <div flex-gt-sm="50" class="cal-manage">
                                                    <h1 class="md-headline">Messaging</h1>
                                                    <div class="myaccount-s">
                                                        <div class="myact-menus">
                                                            <ul>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-angle-right"></i> Appointment Reminders & Notifications</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-angle-right"></i> Email campaiigns</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-angle-right"></i> Send new messages</a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div flex-gt-sm="50" class="cal-booking">
                                                    <h1 class="md-headline">General information</h1>
                                                    <div class="myaccount-s">
                                                        <div class="myact-menus">
                                                            <ul>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-angle-right"></i> Current avanna plan</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><i class="fa fa-angle-right"></i> Help</a>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Category 01">
                                    <md-content class="md-padding">
                                        <h1 class="md-headline">Calender</h1>
                                        <div class="myaccount-s">
                                            <div class="myact-menus">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-angle-right"></i> View calender</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-angle-right"></i> View staff calenders</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-angle-right"></i> Sync calender</a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-angle-right"></i> Update / Edit account details</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <md-divider></md-divider>
                                    </md-content>

                                </md-tab>

                                <md-tab label="Category 02">
                                    <md-content class="md-padding">
                                        <div class="catogeryleft-tabs">
                                            <div class="col-sm-12">
                                                <h3>Avaana Category</h3>
                                                <hr/>
                                                <div class="col-xs-3">
                                                    <!-- required for floating -->
                                                    <!-- Nav tabs -->
                                                    <ul class="nav nav-tabs tabs-left sideways">
                                                        <li class="active"><a href="#home-v" data-toggle="tab">Sub Category 01</a></li>
                                                        <li><a href="#profile-v" data-toggle="tab">Sub Category 02</a></li>
                                                        <li><a href="#messages-v" data-toggle="tab">Sub Category 03</a></li>
                                                        <li><a href="#settings-v" data-toggle="tab">Sub Category 04</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-xs-9">
                                                    <div class="leftcontent-s">
                                                        <!-- Tab panes -->
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="home-v">Category 01 - Content Area</div>
                                                            <div class="tab-pane" id="profile-v">Category 02 - Content Area</div>
                                                            <div class="tab-pane" id="messages-v">Category 03 - Content Area</div>
                                                            <div class="tab-pane" id="settings-v">Category 04 - Content Area</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Category 03">
                                    <md-content class="md-padding">
                                       

<div class="row calendar-section">
    
     

<div class="col-md-8">

<div class="calender-invisible"><md-datepicker ng-model="myDate" md-placeholder="Enter date" ng-change="selectedDate(myDate)"></md-datepicker></div>
<div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>


 </div>
<div class="col-md-4">

<div ng-show="SelectedEvent" class="alert alert-success">
    
{{SelectedEvent.title}}




</div>

 </div>



</div>








                                    </md-content>
                                </md-tab>
                                <md-tab label="Category 04">
                                    <md-content class="md-padding">
                                        <h1 class="md-display-2">Category 04</h1>
                                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                    </div>
                </md-card>
            </div>


        </div>
    </div>
</div>


