<div class="row">			
			<div class="sponsered">
				<div class="slider-title">
					<a ng-click="home.toggleSponser()">Avaana Sponsored Businesses {{home.index}}
						<div class="arrow-down-s">
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</div>
					</a>
				</div>
				<div class="slider-descrip">
					<div class="container">
						<div class="col-lg-12">							 
							 <slick class="slider single-item" current-index="home.index" responsive="breakpoints" slides-to-show=home.showSponserSlide slides-to-scroll=1 ng-if="home.showSponser" swipe="false">
							 <div ng-click='openProviderWindow()'>
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<md-card-title>
									  <md-card-title-text>
										<span class="md-headline">Eastern Wellness Clinic</span>
										<span class="md-subhead">Experience the healing energy of our massages and treatments.										
										</span>
										<div class="location-link">											
											<i class="fa fa-map-marker"></i>
											<a href="#">Hawthorn</a>										
										</div>
									  </md-card-title-text>
									  <md-card-title-media>
										<div class="md-media-md card-media">
											<img src="static/image/img01.png"/>
										</div>
									  </md-card-title-media>
									</md-card-title>
								</md-card>
								</div>
								<div ng-click='openProviderWindow()'>
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<md-card-title>
									  <md-card-title-text>
										<span class="md-headline">Botanical Laser &amp; Skin Clinic</span>
										<span class="md-subhead">Rejuvenate your skin with our advanced laser technology.
										</span>
										<div class="location-link">
											<i class="fa fa-map-marker"></i>
											<a href="#">Hawthorn</a>											
										</div>
									  </md-card-title-text>
									  <md-card-title-media>
										<div class="md-media-md card-media">
											<img src="static/image/img02.png"/>
										</div>
									  </md-card-title-media>
									</md-card-title>
								</md-card>
								</div>
								<div ng-click='openProviderWindow()'>
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<md-card-title>
									  <md-card-title-text>
										<span class="md-headline">Orange Blossom Physiotherapy</span>
										<span class="md-subhead">Specialising in prevention and rehabilitation of injuries.</span>
										<div class="location-link">
											<i class="fa fa-map-marker"></i>
											<a href="#">Hawthorn</a>											
										</div>
									  </md-card-title-text>
									  <md-card-title-media>
										<div class="md-media-md card-media">
											<img src="static/image/img01.png"/>
										</div>
									  </md-card-title-media>
									</md-card-title>
								</md-card>
								</div>
								<div ng-click='openProviderWindow()'>
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<md-card-title>
									  <md-card-title-text>
										<span class="md-headline">Eastern Wellness Clinic</span>
										<span class="md-subhead">Rejuvenate your skin with our advanced laser technology.</span>
										<div class="location-link">
											<i class="fa fa-map-marker"></i>
											<a href="#">Hawthorn</a>											
										</div>
									  </md-card-title-text>
									  <md-card-title-media>
										<div class="md-media-md card-media">
											<img src="static/image/img02.png"/>
										</div>
									  </md-card-title-media>
									</md-card-title>
								</md-card>
								</div>
							</slick>
						</div>
					</div>
				</div>		
			</div>
		</div>
		<div class="top-servicew">
			<div class="container">
				<!-- Marketing Icons Section -->
				<div class="row dataser-s">
					<div class="col-sm-4 links-s	">
						<h3 class="top-til">Top Treatments &amp; Services</h3>
						 <md-card>
							<md-list-item>
								<div class="top-treat">
									<div class="view-s">
										<a href="">Massage</a>
									</div>
									<div class="view-s">
										<a href="">Day Spa</a>
									</div>
									<div class="view-s">
										<a href="">Physiotherapy</a>
									</div>
									<div class="view-s">
										<a href="">Holistics</a>
									</div>
									<div class="view-s">
										<a href="">Skin Treatments</a>
									</div>
									<div class="view-s">
										<a href="">Face</a>
									</div>
									<div class="view-s">
										<a href="">Acupuncture</a>
									</div>
								</div>
							</md-list-item>
						  </md-card>
					
					</div>
					<div class="col-sm-4 morefor-money">
						<h3 class="top-til">More For Your Money</h3>
					   <slick class="slider" responsive="breakpoints" slides-to-show=2 slides-to-scroll=1 vertical="true" swipe="false">
							<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="money-your">
										<div class="top-part">
											<div class="image-s">
												<img src="static/image/img001.png"/>
											</div>
											<div class="imagedis-s">
												50% Off
											</div>
										</div>
										<div class="mid-part">
											<h3 class="money-title">Remedial Massage (60 Min)</h3>
											<div class="subtitlle-money">New Era Massage - Melbourne</div>
											<div class="discrip">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus.
											</div>
										</div>
										<div class="botom-part">											
											<div class="normaly-f view-money">
												<label>Normally</label>
												<span>$110</span>
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary" ng-click='payment("55")'>Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">	
												 	<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="money-your">
										<div class="top-part">
											<div class="image-s">
												<img src="static/image/img001.png"/>
											</div>
											<div class="imagedis-s">
												50% Off
											</div>
										</div>
										<div class="mid-part">
											<h3 class="money-title">Remedial Massage (60 Min)</h3>
											<div class="subtitlle-money">New Era Massage - Melbourne</div>
											<div class="discrip">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus.
											</div>
										</div>
										<div class="botom-part">											
											<div class="normaly-f view-money">
												<label>Normally</label>
												<span>$110</span>
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary" ng-click='payment("55")'>Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="money-your">
										<div class="top-part">
											<div class="image-s">
												<img src="static/image/img001.png"/>
											</div>
											<div class="imagedis-s">
												50% Off
											</div>
										</div>
										<div class="mid-part">
											<h3 class="money-title">Remedial Massage (60 Min)</h3>
											<div class="subtitlle-money">New Era Massage - Melbourne</div>
											<div class="discrip">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus.
											</div>
										</div>
										<div class="botom-part">											
											<div class="normaly-f view-money">
												<label>Normally</label>
												<span>$110</span>
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary" ng-click='payment("55")'>Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<div class="money-your">
										<div class="top-part">
											<div class="image-s">
												<img src="static/image/img001.png"/>
											</div>
											<div class="imagedis-s">
												50% Off
											</div>
										</div>
										<div class="mid-part">
											<h3 class="money-title">Remedial Massage (60 Min)</h3>
											<div class="subtitlle-money">New Era Massage - Melbourne</div>
											<div class="discrip">
												Lorem ipsum dolor sit amet esom consectetur scing dolor sit amet  elit. Fusce terasa emos dapibus.
											</div>
										</div>
										<div class="botom-part">											
											<div class="normaly-f view-money">
												<label>Normally</label>
												<span>$110</span>
											</div>
											<div class="nows-dates">
												<div class="view-money now-rupes">
												 <md-button md-no-ink class="md-primary">Now $55</md-button>
												 </div>
												 <div class="view-money now-dates">
												 	<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
												 </div>
											</div>
										</div>
									</div>
								</md-card>
						</div>						
					   </slick>
					</div>
					<div class="col-sm-4 morefor-money saying-s">
						<h3 class="top-til">What You’ve Been Saying</h3>
					   <slick class="slider" current-index="index" responsive="breakpoints" slides-to-show=3 slides-to-scroll=1 vertical="true" swipe="false">
							<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<md-list-item class="md-3-line md-long-text">
									  <img src="static/image/img_01.png" class="md-avatar"/>
									  <div class="md-list-item-text">
										<h3 class="newleaf-ttl">New Leaf Day Spa</h3>
										<div class="newleaf-subtitle">Review by Jenny</div>
										<div class="newleaf-discrip">
										  Had a fantastic experience at this spa. It’s worthy of its reviews and ratings and we had a great and relaxing time with great staff.
										</div>
										<div class="ratetin-s">
											<div class="reating-s">
												<label>
													Rating
												</label>
												<span>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</span>
											</div>
											<div class="avaana-s">
												<label>Avaana Score</label>
												<span>88%</span>
											</div>
										</div>
									  </div>
									</md-list-item>
								</md-scard>
							</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<md-list-item class="md-3-line md-long-text">
									  <img src="static/image/img_01.png" class="md-avatar"/>
									  <div class="md-list-item-text">
										<h3 class="newleaf-ttl">New Leaf Day Spa</h3>
										<div class="newleaf-subtitle">Review by Jenny</div>
										<div class="newleaf-discrip">
										  Had a fantastic experience at this spa. It’s worthy of its reviews and ratings and we had a great and relaxing time with great staff.
										</div>
										<div class="ratetin-s">
											<div class="reating-s">
												<label>
													Rating
												</label>
												<span>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</span>
											</div>
											<div class="avaana-s">
												<label>Avaana Score</label>
												<span>88%</span>
											</div>
										</div>
									  </div>
									</md-list-item>
								</md-scard>
							</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<md-list-item class="md-3-line md-long-text">
									  <img src="static/image/img_01.png" class="md-avatar"/>
									  <div class="md-list-item-text">
										<h3 class="newleaf-ttl">New Leaf Day Spa</h3>
										<div class="newleaf-subtitle">Review by Jenny</div>
										<div class="newleaf-discrip">
										  Had a fantastic experience at this spa. It’s worthy of its reviews and ratings and we had a great and relaxing time with great staff.
										</div>
										<div class="ratetin-s">
											<div class="reating-s">
												<label>
													Rating
												</label>
												<span>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</span>
											</div>
											<div class="avaana-s">
												<label>Avaana Score</label>
												<span>88%</span>
											</div>
										</div>
									  </div>
									</md-list-item>
								</md-scard>
							</div>
						<div class="row-view-money">
								<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
									<md-list-item class="md-3-line md-long-text">
									  <img src="static/image/img_01.png" class="md-avatar"/>
									  <div class="md-list-item-text">
										<h3 class="newleaf-ttl">New Leaf Day Spa</h3>
										<div class="newleaf-subtitle">Review by Jenny</div>
										<div class="newleaf-discrip">
										  Had a fantastic experience at this spa. It’s worthy of its reviews and ratings and we had a great and relaxing time with great staff.
										</div>
										<div class="ratetin-s">
											<div class="reating-s">
												<label>
													Rating
												</label>
												<span>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star green-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</span>
											</div>
											<div class="avaana-s">
												<label>Avaana Score</label>
												<span>88%</span>
											</div>
										</div>
									  </div>
									</md-list-item>
								</md-scard>
							</div>					   
					   </slick>
					</div>		
				</div>
			</div>
		</div>