
		<div class="top-servicew" style="margin-top:20px">
			<div class="container">
				<!-- Marketing Icons Section -->
				<div class="rows">
					<div>

                      <!-- ********************* Contact Detail Starts ***********************************************-->

						<h3 class="top-til m-lr-10">
							<i class="fa fa-user" aria-hidden="true"></i>Contact Details
						</h3>
						<md-card>
							<div class="paypalleft-s">
								<md-content layout-padding>
									<div>
										<form name="userForm">
											<div layout-gt-xs="row">
												<md-input-container class="md-block" flex-gt-sm>
													<label>Name Of Business</label>
													<input ng-model="business.name"  placeholder="Name Of Business" ng-keyup="business.validateName()">
													<span class="span-color" ng-if="business.nameErr!=null">{{business.nameErr}}</span>
												</md-input-container>		
											</div>
											<div layout-gt-xs="row">
												<md-input-container class="md-block" flex-gt-sm>
													<label>ABN</label>
													<input ng-model="business.abn"  placeholder="ABN" ng-keyup="business.validateABN()">
													<span class="span-color" ng-if="business.abnErr!=null">{{business.abnErr}}</span>
												</md-input-container>		
											</div>
											<div layout-gt-xs="row">
												<md-input-container class="md-block margin-disad" flex-gt-sm>
													<label>Address</label>
													<input ng-model="business.address" placeholder="Address" ng-keyup="business.validateAddress()">
													<span class="span-color" ng-if="business.addressErr!=null">{{business.addressErr}}</span>
												</md-input-container>	
												<md-input-container class="md-block" flex-gt-sm>
													<label>Email</label>
													<input ng-model="business.email" placeholder="Email" ng-keyup="business.validateEmail()">
													<span  class="span-color" ng-if="business.emailErr!=null">{{business.emailErr}}</span>
												</md-input-container>	
											</div>
											<div layout-gt-xs="row">
												<md-input-container class="md-block" flex-gt-sm>
													<label>Mobile number</label>
													<input ng-model="business.mobile" placeholder="Mobile number" ng-keyup="business.validateMobile()">
													<span class="span-color" ng-if="business.mobileErr!=null">{{business.mobileErr}}</span>
												</md-input-container>	
												<md-input-container class="md-block" flex-gt-sm>
													<label>Telephone Number</label>
													<input ng-model="business.phone" placeholder="Telephone Number" ng-keyup="business.validatePhone()">
													<span class="span-color" ng-if="business.phoneErr!=null">{{business.phoneErr}}</span>
												</md-input-container>	
											</div>	
                                            <div layout-gt-xs="row">
												<md-input-container class="md-block" flex-gt-sm>
													<label>website</label>
													<input ng-model="business.website" placeholder="Website" ng-keyup="business.validateWebsite()">
													<span class="span-color" ng-if="business.websiteErr!=null">{{business.websiteErr}}</span>
												</md-input-container>		
											</div>	
											<div layout-gt-xs="row">

												<md-button class="md-raised md-green" ng-click="business.saveContactDetails()">Save And Continue</md-button>
											</div>	

										</form>
									</div>
								</md-content>
							</div>
						</md-card>

                        <!-- ********************* Contact Detail ends ***********************************************-->

                        <!-- ********************* Add your Business starts ******************************************-->
						<h3 class="top-til m-lr-10">
							<i class="fa fa-clock-o" aria-hidden="true"></i> About your business
						</h3>
						<md-card ng-if="business.status.hour_check">
							<div class="oper-hour">
								<md-content layout-padding>
									<div layout-wrap layout-gt-sm="row" ng-repeat="days in business.workDays">
										<div flex-gt-sm="50">
										  <md-checkbox class='green' ng-model="days.isChecked"  ng-change="business.priceDiscountChange(days)">
											{{days.day}}
										  </md-checkbox>
										</div>
										<div flex-gt-sm="50">
											<div class="dateinline-s">
												<mdp-time-picker ng-model="days.startTime" mdp-disabled="!days.isChecked" ng-change="business.changeStartDate(days)"></mdp-time-picker>
											</div>
											<div class="dateinline-s">
												<mdp-time-picker ng-model="days.endTime" mdp-disabled="!days.isChecked"
												ng-change="business.changeEndDate(days)"></mdp-time-picker>
											</div>
											<span ng-if="days.rangeErr!=null" class="span-color">{{days.rangeErr}}</span>
											<span ng-if="days.startTimeErr!=null" class="span-color">{{days.startTimeErr}}</span>
											<span ng-if="days.endTimeErr!=null" class="span-color">{{days.endTimeErr}}</span>
										</div>
										
									</div>
									
									<span class="span-color" ng-if="business.operationHourErr!=null">{{business.operationHourErr}}</span>

								</md-content>	
							</div>	
                            <md-content layout-padding>
									<div class="paypal-righttime-s">
											<div class="holy-right">
												<h3 class="hloy-title">Holidays</h3>
												<div layout-wrap layout-gt-sm="row" >
													<div layout-gt-xs="row" flex-gt-sm="70">	
														<md-datepicker  ng-model="business.holiday" md-placeholder="Enter date" ng-change="business.changeHolidays()">
												    	</md-datepicker>
																					
													</div>
													<div layout-gt-xs="row" flex-gt-sm="30">
														<div class="text-right addlist-s">
															<md-button class="md-raised md-green" ng-click="business.addHolidays()">Add</md-button>
														</div>	
													</div>
												<span ng-if="business.holidayErr!=null" class="span-color">{{business.holidayErr}}</span>
												</div>
											</div>
										</div>	
		                                <div ng-repeat="holiday in business.holidays">
													{{holiday |date:'dd/MM'}}
											<md-button class="md-raised md-green" ng-click="business.removeHoliday($index)">remove</md-button>		

										</div>	
							</md-content>

								<md-content layout-padding>
											<h3 class="hloy-title-s">Services</h3>	
											<span class="span-color" ng-if="business.servicesErr!=null">{{business.servicesErr}}</span>
											<div>
												<form name="userForm">
                                                    <div layout-gt-xs="row">
														<md-input-container class="md-block servcename-s" flex-gt-sm>
															<label>Name of Category</label>
															<md-select ng-model="business.category" 
															ng-change="business.changeCategory(business.category)">
															   <md-option value="Select Category">Select Category</md-option>
															   <md-option value="Category 1">Category 1</md-option>
															   <md-option value="Category 2">Category 2</md-option>
															   <md-option value="Category 3">Category 3</md-option>
															</md-select>

															<span class="span-color" ng-if="business.categoryErr!=null" class="span-color">
																{{business.categoryErr}}
															</span>
														</md-input-container>		
															
													</div>

													<div layout-gt-xs="row">
														<md-input-container class="md-block servcename-s" flex-gt-sm>
															<label>Name of Service</label>
															<md-select ng-model="business.service" 
															ng-change="business.changeService(business.service)">
															  <md-option value="Select Service">Select Service</md-option>
															  <md-option value="Services 1">Services 1</md-option>
															  <md-option value="Services 2">Services 2</md-option>
															  <md-option value="Services 3">Services 3</md-option>
															</md-select>

															<span class="span-color" ng-if="business.serviceErr!=null">
																{{business.serviceErr}}
															</span>
														</md-input-container>		
															
													</div>
													<div layout-gt-xs="row">
														<md-input-container class="md-block m-tb-10" flex-gt-sm>
															<label>Length of Service</label>
															<input ng-model="business.lengthService" placeholder="Length of Service" ng-keyup="business.validateLengthService()">
															<span class="span-color" class="span-color" ng-if="business.lengthServiceErr!=null">
																{{business.lengthServiceErr}}
															</span>
														</md-input-container>															
													</div>

                                                    <div layout-gt-xs="row">
                                                          <md-radio-group ng-model="business.priceType" ng-change="business.priceTypeChange()">	
                                                           	<md-radio-button value="All">All</md-radio-button>
														  	<md-radio-button value="Seperate">Seperate</md-radio-button>
														</md-radio-group>
                                                    </div> 	


													<div layout-gt-xs="row" ng-if="business.priceType=='All'">	

														<md-input-container class="md-block m-tb-10" flex-gt-sm >
															<label>Price</label>

															<input ng-model="business.price" placeholder="Price" ng-keyup="business.validateAllPrice()">
														</md-input-container>

														   
                                                    </div>
													 <span class="span-color" ng-if="business.priceErr!=null">{{business.priceErr}}</span>



                                                    <div layout-gt-xs="row" ng-if="business.priceType=='Seperate' && price.isChecked && price.startTime!='none' && price.startTime!=null   && price.endTime!='none' && price.endTime!=null 
                                                    && price.rangeErr==null" ng-repeat="price in business.workDays">	


														<md-input-container class="md-block m-tb-10"  >
															<label>{{price.day}}</label>

															<input ng-model="price.price" placeholder="Price" 
															ng-keyup="business.validatePrice(price)">
														</md-input-container>
                                                        <br>
                                                        <span ng-if="price.priceErr!=null" class="span-color">{{price.priceErr}}</span>
																 													
													</div>


                                                    <span ng-if="business.priceTypeErr!=null" class="span-color">{{business.priceTypeErr}}</span>
                                                    

                                                    
                                                    <div layout-gt-xs="row" >
                                                          <md-radio-group ng-model="business.discountType" ng-change="business.discountTypeChange()">	
                                                           	<md-radio-button value="All" >All</md-radio-button>
														  	<md-radio-button value="Seperate">Seperate</md-radio-button>
														</md-radio-group>
                                                    </div> 

                                                    <span class="span-color" ng-if="business.discountTypeErr!=null">{{business.discountTypeErr}}</span>

													<div layout-gt-xs="row" ng-if="business.discountType=='All'">
														<md-input-container class="md-block m-tb-10" flex-gt-sm>
															<label>Disccount price</label>
															<input ng-model="business.discountPrice" placeholder="Disccount price" ng-keyup="business.validateAllDiscount()">
														</md-input-container>															
													</div>

													<span class="span-color" ng-if="business.discountErr!=null">{{business.discountErr}}
													</span>
                                                    
                                                    <div layout-gt-xs="row" ng-if="business.discountType=='Seperate' && price.isChecked && price.startTime!='none' && price.startTime!=null   && price.endTime!='none' && price.endTime!=null  
                                                    && price.rangeErr==null" ng-repeat="price in business.workDays">
														<md-input-container class="md-block m-tb-10" flex-gt-sm>
															<label>{{price.day}}</label>
															<input ng-model="price.discount" ng-keyup="business.validateDiscount(price)" placeholder="Disccount price">
														</md-input-container>	

														<span class="span-color" ng-if="price.discountErr!=null">{{price.discountErr}}</span>														
													</div>

                                                    

													<div class="normaly-s">
														<span class="radioValue">How do you normally take booking!</span> 
														<md-radio-group ng-model="business.bookingType">				  <md-radio-button value="Avanna"> Avanna </md-radio-button>
														  <md-radio-button value="Other">Other</md-radio-button>
														</md-radio-group>
													</div>
													<div class="add-btns">
														<md-button class="md-raised md-green" ng-click="business.addService()">Add Service</md-button>
													</div>
													<div class="list-services"ng-repeat="service in business.services">														
														<div class="view-row">
															<h3 class="hloy-title-s">{{service.service}}</h3>
                                                             
                                                             <div class="serv-view">
																<label>Category</label>
																<span>{{service.category}}</span>
															</div>


															<div class="serv-view">
																<label>Length</label>
																<span>{{service.length}}</span>
															</div>
															<div class="serv-view" ng-if="!business.checkObject(service.price)">
																<label>Price</label>
																<span>{{service.price}}</span>
															</div>
															<div class="serv-view" ng-if="business.checkObject(service.price)" ng-repeat="price in service.price">
																<label>{{price.day}} Price</label>
																<span>{{price.price}}</span>
															</div>
															<div class="serv-view" ng-if="!business.checkObject(service.discount)">
																<label>Discount</label>
																<span>{{service.discount}}</span>
															</div>
															<div class="serv-view" ng-if="business.checkObject(service.discount)" ng-repeat="price in service.discount">
																<label>{{price.day}} Discount</label>
																<span>{{price.price}}</span>
															</div>
														</div>
																											
													</div>
													<div class="business-profile">
														<md-input-container class="md-block">
															<label>Profile of business</label>
															
															<textarea rows="4" cols="100%" ng-model="business.profile" ng-keyup="business.validateProfile()">
															</textarea>
                                                            <span class="span-color" ng-if="business.profileErr!=null">{{business.profileErr}}</span>
														  </md-input-container>													
													</div>
													 <div class="oper-hour">
													 	 <h3 class="top-til m-lr-10">
																<i class="fa fa-picture-o" aria-hidden="true"></i> Photo
														</h3>
														<span class="span-color" ng-if="business.photoErr!=null">{{business.photoErr}}</span>
														<md-content layout-padding>
															<div class="photo-view clarfix">
																<img ng-src="{{photo}}" ng-repeat="photo in business.photoArr"/>

																{{myCroppedImage}}
										
																</div>
									 
															<div class="text-right browse-btn">
									 							<md-divider></md-divider>
																<md-button class="md-raised md-green" ng-click="business.openPhotoModal('photo')">Browse</md-button>
															</div>
														</md-content>	
													</div>

                                                    <h3 class="top-til m-lr-10">
														<i class="fa fa-random" aria-hidden="true"></i> Logo
													</h3>
													<span class="span-color" ng-if="business.logoErr!=null">{{business.logoErr}}</span>
						
													<div class="oper-hour">
														<md-content layout-padding>
																<div class="photo-view clarfix">
																		<img ng-src="{{business.logo}}"/>
																</div>
                                    							<div class="text-right browse-btn">
																	 <md-divider></md-divider>
																	<md-button class="md-raised md-green" ng-click="business.openPhotoModal('logo')">Browse</md-button>
																	
																</div>

														</md-content>	
													</div>		

												</form>
											</div>
										</md-content>
                                        <div class="busineslist-s">																			    
								<md-content layout-padding>
									
									<div>
										<form name="userForm">											
											<div layout-gt-xs="row">
												<md-input-container class="md-block m-tb-10" flex-gt-sm>
													<label>Cancellation policy</label>
													<input ng-model="business.cancellation" placeholder="Cancellation policy" ng-keyup="business.validateCancellation()">
													<span ng-if="business.cancellationErr!=null" class="span-color">{{business.cancellationErr}}</span>
												</md-input-container>															
											</div>
											<div layout-gt-xs="row">
												<md-input-container class="md-block m-tb-10" flex-gt-sm>
													<label>Minimum lead time</label>
													<input ng-model="business.leadTime" placeholder="Minimum lead time" ng-change="business.validateLeadTime()">
                                                    <span ng-if="business.leadTimeErr!=null" class="span-color">{{business.leadTimeErr}}</span>
												</md-input-container>															
											</div>	
											<div layout-gt-xs="row">
												<md-input-container class="md-block m-tb-10" flex-gt-sm>
													<label>Maximum fetures time</label>
													<input ng-model="business.featureTime" placeholder="Maximum fetures time" ng-change="business.validateFeatureTime()">
													 <span ng-if="business.featureTimeErr!=null" class="span-color">{{business.featureTimeErr}}</span>
												</md-input-container>															
											</div>											
											<!-- <div class="add-btns">
												<md-button class="md-raised md-green">Add Practitoners</md-button>
											</div> -->

										</form>
									</div>
								</md-content>
							</div>

							<div layout-gt-xs="row">

								<md-button class="md-raised md-green" ng-click="business.saveBusiness()">Save And Continue</md-button>
							</div>	

													
						</md-card>
						
						
					    <!-- ********************* Add your Business ends ******************************************-->

                        <h3 class="top-til m-lr-10" >
							<i class="fa fa-user" aria-hidden="true"></i> About yours Practitoner
						</h3>
						<md-card ng-if="business.status.practitioner_check">
							<div class="paypalleft-s">
								<md-content layout-padding>
									<div>
										<form name="userForm">
											<div layout-gt-xs="row">
												<md-input-container class="md-block" flex-gt-sm>
													<label>Name</label>
													<input ng-model="business.staffName"  placeholder="Name" ng-keyup="business.validateStaffName()">
													<span ng-if="business.staffNameErr!=null" class="span-color">{{business.staffNameErr}}</span>
												</md-input-container>		
													
											</div>
											<div layout-gt-xs="row">
												<md-input-container class="md-block profile-s" flex-gt-sm>
												  <label>Profile</label>
												  <input ng-model="business.staffProfile" placeholder="Profile" ng-keyup="business.validateStaffProfile()">
												  <span ng-if="business.staffProfileErr!=null" class="span-color">{{business.staffProfileErr}}</span>
												</md-input-container>
													
											</div>											
											<div layout-gt-xs="row" ng-repeat="serviceTime in business.staffServiceTimeArr">
												<md-input-container class="md-block servcename-s emaildis-s " flex-gt-sm>
													<label>Service</label>
													<md-select ng-model="serviceTime.service" ng-disabled="!$last">
													  <md-option  value="Please enter Service">Please enter Service
													  </md-option>
													  <md-option  value="Services 1">Service 1</md-option>
													  <md-option  value="Services 2">Service 2</md-option>
													  <md-option  value="Services 3">Service 3</md-option>
													</md-select>
													<span ng-if="serviceTime.serviceErr!=null" class="span-color">{{serviceTime.serviceErr}}</span>
												</md-input-container>
												<md-input-container class="md-block servcename-s" flex-gt-sm>
													<label>Available time</label>
													<md-select ng-model="serviceTime.time" ng-disabled="!$last">
													  <md-option  value="Please enter Time">Please enter Time</md-option>
													  <md-option  value="Monday, 9 AM to 6 PM">Monday, 9 AM to 6 PM</md-option>
													  <md-option  value="Wednesday, 5 PM to 7 PM">Wednesday, 5 PM to 7 PM</md-option>
													  <md-option  value="Saturday, 7 PM to 9 PM">Saturday, 7 PM to 9 PM</md-option>
													</md-select>
													<span ng-if="serviceTime.timeErr!=null" class="span-color">{{serviceTime.timeErr}}</span>
												</md-input-container>
												<md-input-container class="md-block servcename-s" flex-gt-sm>
													<div class="text-right addlist-s">
														<md-button class="md-raised md-green" ng-click="business.appendServiceTime(serviceTime)" ng-if="$last">Add</md-button>
														<md-button class="md-raised md-green" ng-if="!$last" ng-click="business.deleteServiceTime($index)">Delete</md-button>
													</div>
												</md-input-container>

											</div>
											<span class="span-color" ng-if="business.serviceTimeArrayErr!=null">{{business.serviceTimeArrayErr}}</span>
											<div layout-gt-xs="row">
												<div class="holy-right newholy-s">
													<h3 class="hloy-title">Holidays</h3>
													<span class="span-color" ng-if="business.staffHolidayArrayErr!=null">{{business.staffHolidayArrayErr}}</span>
													<div layout-wrap layout-gt-sm="row" >
														<div layout-gt-xs="row" flex-gt-sm="70">	
															<md-datepicker ng-model="business.staffHoliday" md-placeholder="Enter date" ng-change="business.changeStaffHolidays()"></md-datepicker>

																							
														</div>
														<div layout-gt-xs="row" flex-gt-sm="30">
															<div class="text-right addlist-s">
																<md-button class="md-raised md-green" ng-click="business.addStaffHolidays()">Add</md-button>
															</div>	
														</div>
														<span class="span-color"ng-if="business.staffHolidayErr!=null">{{business.staffHolidayErr}}</span>										
													</div>	
													<div ng-repeat="holiday in business.staffHolidays">
														{{holiday |date:'dd/MM'}}
														<div class="add-btns">
														  <md-button class="md-raised md-green" ng-click="business.removeStaffHoliday($index)">remove</md-button>
													    </div>
													</div>														 
													

												</div>	
											</div>
											<div layout-gt-xs="row">
												<md-input-container class="md-block" flex-gt-sm>
													<label>Username</label>
													<input ng-model="business.staffUserName"  placeholder="Name" ng-change="business.validateStaffUsername()">
													<span class="span-color" ng-if="business.staffUserNameErr!=null">{{business.staffUserNameErr}}</span>
												</md-input-container>		
													
											</div>
											<div layout-gt-xs="row">
												<md-input-container class="md-block" flex-gt-sm>
													<label>Email</label>
													<input ng-model="business.staffEmail"  placeholder="Name" ng-keyup="business.validateStaffEmail()">
												</md-input-container>		
												<span class="span-color" ng-if="business.staffEmailErr!=null">{{business.staffEmailErr}}</span>	
											</div>
											<div layout-gt-xs="row">
												<md-input-container class="md-block" flex-gt-sm>
													<label>Password</label>
													<input ng-model="business.staffPassword"  placeholder="Name" ng-keyup="business.validateStaffPassword()" type="password">
												</md-input-container>		
													<span class="span-color" ng-if="business.staffPasswordErr!=null">{{business.staffPasswordErr}}</span>
											</div>
											<div class="text-right browse-btn">
												<md-button class="md-raised md-green" ng-click="business.addPractioners()">Add Practitoners</md-button>
											
											</div>
										</form>
									</div>
								</md-content>
							</div>
						</md-card>

					</div>			
							
								
					<div class="col-sm-4 resultsmsin-s">
						
						
						
					</div>
	
				</div>
			</div>
		</div>
