<div style="background-image:url('static/image/hero-bg.png');height:600px">
<div layout="column" layout-align="center center" layout-fill >
  <div class="loginBox md-whiteframe-z1" layout="column">
    <md-toolbar>
      <h2 class="md-toolbar-tools md-raised md-green" layout-align="center center">
        <span > Avaana Login</span>
      </h2>
    </md-toolbar>
    <md-content class="md-padding" layout="column">
      <md-input-container>
        <label>EmailAddress</label>
        <input type="input"  ng-model="obj.username">
        <span style='color:red;' ng-if="obj.usernameErr!=null">{{obj.usernameErr }}</span>
      </md-input-container>
      <md-input-container>
        <label> Password</label>
        <input type="password" ng-model="obj.password">
        <span style='color:red;' ng-if="obj.passwordErr!=null">{{obj.passwordErr}}</span>
      </md-input-container>
       <span style='color:red;' ng-if="obj.loginErr!=null">{{obj.loginErr}}</span>   
      <div layout="row" layout-align="center center" style="padding-top:20px;">
        <md-button class="md-raised md-green" ng-click="obj.login()"> Login</md-button>
        <div flex>
          <md-button href="#" md-no-ink> Forgot Password?</md-button>
        </div>
      </div> 
      <div layout="row" layout-align="center center" style="padding-top:20px;"> 
        <img  ng-click="obj.googlePlusLogin()" src='static/image/google+.png' style="height:60px;width:60px;border-radius:30px;" > 
        <img  ng-click="obj.facebookLogin()" src='static/image/facebook.png' style="height:60px;width:60px;border-radius:30px;">   
      </div>
    </md-content>   
  </div>
</div>
</div>

