<div class="top-servicew">
         <div class="container">
            <!-- Marketing Icons Section -->
            <div class="rows">
               <div class="col-sm-8 yourdetails">
                  <h3 class="top-til m-lr-10">
                     <i class="fa fa-user" aria-hidden="true"></i> Your Details
                  </h3>
                  <md-card>
                     <div class="paypalleft-s">
                        <md-content layout-padding>
                           <div>
                              <form name="userForm">
                                 <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                       <label>Full name</label>
                                       <input ng-model="payment.fullName" placeholder="Full name" ng-keyup="payment.validateFirstName()">
                                       <span class='span-color' ng-if="fullnameErr!=null">{{fullnameErr}}</span>
                                    </md-input-container>
                                 </div>
                                 <div layout-gt-xs="row">
                                    <md-input-container class="md-block emaildis-s" flex-gt-sm>
                                       <label>Email</label>
                                       <input ng-model="payment.email"  placeholder="Email" ng-keyup="payment.validateEmail()">
                                       <span  class='span-color' ng-if="emailErr!=null">{{emailErr}}</span>
                                    </md-input-container>      
                                    <md-input-container class="md-block" flex-gt-sm>
                                       <label>Phone number</label>
                                       <input ng-model="payment.phone" placeholder="Phone number" ng-keyup="payment.validPhone()">
                                       <span  class='span-color' ng-if="phoneErr!=null">{{phoneErr}}</span>
                                       
                                    </md-input-container>      
                                 </div>
                                 <div class="standards">
                                    <md-checkbox class='green' ng-model="data.cb1" aria-label="Checkbox 1">
                                       Send me promotions and the latest beauty news
                                    </md-checkbox>
                                 </div>
                                 <div class="radio-payment">
                                    <div class="you-s">Is this for you?</div>
                                    <div class="radio-grp">
                                       <md-radio-group ng-model="data.group1">
                                          <md-radio-button value="Yes"> Yes </md-radio-button>
                                          <md-radio-button value="No">No</md-radio-button>
                                       </md-radio-group>
                                    </div>                                 
                                 </div>
                              </form>
                           </div>
                        </md-content>
                     </div>
                  </md-card>  
                  <h3 class="top-til m-lr-10">
                     <span class="glyphicon glyphicon-piggy-bank"></span> Payment
                  </h3>
                  <md-card>
                     <div class="paypalpym-s">
                        <md-content layout-padding>
                           <div class="radio-payment">                              
                              <div class="radio-grp">
                                 <md-radio-group g-model="data.group2">
                                    <md-radio-button value="pay with card"> Pay with card </md-radio-button>
                                    <md-radio-button value="Pay with Paypal">Pay with PayPal</md-radio-button>
                                 </md-radio-group>
                              </div>                                 
                           </div>
                           <div class="card-details-s">
                              <md-list>
                               <md-list-item class="noright">
                                 <p>Card details</p>                                
                                 <md-icon class="md-secondary md-hue-3" ><i class="fa fa-cc-visa" aria-hidden="true"></i></md-icon>
                                 <md-icon class="md-secondary md-hue-3" ><i class="fa fa-cc-mastercard" aria-hidden="true"></i></md-icon>
                                 <md-icon class="md-secondary md-hue-3" ><i class="fa fa-cc-amex" aria-hidden="true"></i></md-icon>
                                </md-list-item>
                              </md-list>
                           </div>
                           <div class="seq-code">
                              <form name="userForm">
                                 <div layout-gt-xs="row">
                                    <md-input-container class="md-block emaildis-s largecard-s flex-66" flex-gt-sm>
                                       <label>Card number</label>
                                       <input ng-model="payment.cardno"  placeholder="card number" ng-keyup="payment.validCardNo()">
                                       <span class='span-color' ng-if="cardnoErr!=null">{{cardnoErr}}</span>
                                    </md-input-container>      
                                    <md-input-container class="md-block flex-20" flex-gt-sm>
                                       <label>Security code <i class="fa fa-question-circle" aria-hidden="true"></i></label>
                                       <input ng-model="payment.sequirityCode" placeholder="Security code" ng-keyup="payment.validateSequirityCode()">
                                       <span class='span-color' ng-if="sequirityCodeErr!=null">{{sequirityCodeErr}}</span>
                                    </md-input-container>      
                                 </div>   
                                 <div layout-gt-xs="row">
                                    <md-input-container class="md-block emaildis-s flex-66" flex-gt-sm>
                                       <label>Cardholder's name</label>
                                       <input ng-model="payment.cardHolder"  placeholder="Cardholder's name" ng-keyup="payment.validateCardHolder()">
                                       <span class='span-color' ng-if="cardHolderErr!=null">{{cardHolderErr}}</span>
                                    </md-input-container>      
                                    <!-- <md-input-container class="md-block flex-20" flex-gt-sm>
                                       <label>Expires on </label>
                                       <md-datepicker ng-model="payment.expiryDate" md-placeholder="MM/YY"></md-datepicker>
                                       <span ng-if="expiryErr!=null">{{expiryErr}}</span>
                                    </md-input-container> -->     
                                 </div>   
                                            <div layout-gt-xs="row">
                                             <md-input-container class="md-block flex-100" flex-gt-sm>
                                       <label>Expires on </label>
                                       <md-datepicker class='date-s' ng-model="payment.expiryDate" md-placeholder="MM/YY"></md-datepicker>
                                       <span class='span-color' ng-if="expiryDateErr!=null">{{expiryDateErr}}</span>
                                    </md-input-container>
                                            </div> 

                              </form>                       
                           </div>
                        </md-content>
                     </div>
                  </md-card>
                  <h3 class="top-til m-lr-10">
                     <i class="fa fa-percent" aria-hidden="true"></i> Promo codes / Gift Cards
                  </h3>
                  <md-card>
                     <div class="paypalpym-s">
                        <md-content layout-padding>
                           <div class="promo-code">
                              <div layout-gt-xs="row">
                                    <md-input-container class="md-block emaildis-s flex-66" flex-gt-sm>
                                       <label>Cardholder's name</label>
                                       <input ng-model="payment.promocardName"  placeholder="Cardholder's name" ng-keyup="payment.validatePromoCardName()">
                                       <span class='span-color' ng-if="promocardNameErr!=null">{{promocardNameErr}}</span>
                                    </md-input-container>      
                                    <md-button class="md-secondary add-code">ADD CODE</md-button>
                                 </div>         
                           </div>
                        </md-content>
                     </div>
                  </md-card>
               </div>
                        
                     
                        
               <div class="col-sm-4 resultsmsin-s">
                  <md-card>
                     <md-content layout-padding>
                        <div class="paypal-righttime-s">
                           <div class="time">
                              <div class="view-row time-s">12:00 PM</div>
                              <div class="view-row date-s">
                                 <div class="top-month">29 March</div>
                                 <div class="top-days">Tuesday</div>
                              </div>
                           </div>
                           <md-divider></md-divider>  
                           <div class="little-me">A Little Me Time Professional Massage</div>
                           <md-divider></md-divider>  
                           <div class="deep-issue">
                              <h3>Deep Tissue Massage</h3>
                              1 hr 30 mins
                           </div>
                           <div class="course-s">
                              <div class="view-row">
                                 <label>Course of 5 Sessions</label>
                                 <span><i class="fa fa-gbp"></i>220</span>
                              </div>
                              <div class="view-row odr-final">
                                 <label>Order subtotal</label>
                                 <span><i class="fa fa-gbp"></i>220</span>
                              </div>   
                              <div class="view-row">
                                 <label>Employee</label>
                                 <span>Tiberio</span>
                              </div>                              
                           </div>
                           <div class="cancel-policy">
                              <h3>Cancellation policy</h3>
                              <h4>Non-refundable</h4>
                              <div class="showmore">
                                 <a href="#">Show more</a>
                              </div>
                           </div>
                        </div>
                     </md-content>  
                  </md-card>
               </div>
   
            </div>
         </div>
      </div>
      <div class="top-servicew payment-main">
         <div class="container">
            <!-- Marketing Icons Section -->
            <div class="col-sm-8">
               <div class="order-conts">
                  <div class="order-total">
                     <label>Order total</label>
                     <span><i class="fa fa-gbp" aria-hidden="true"></i>{{payment.amount}}</span>               
                  </div>
                   <md-divider></md-divider>
                  <div class="pl-order">
                     <md-list>
                       <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                          <p>By Clicking the button you argee to the <a href="#">Booking Terms</a>, <br/> <a href="#">Treatwell's Website Terms</a> and   <a href="#">Privacy Policy</a></p>
                        </div>
                        <md-button  md-no-ink class="md-primary" ng-click="payment.placeOrder()">PLACE ORDER</md-button>                     
                       </md-list-item>
                     </md-list>
                  </div>
               </div>
            </div>
            <div class="col-sm-4"></div>
         </div>
      </div>
