
<div class="modal-header">
      <h3 class="modal-title" id="modal-title">Crop Photo</h3>
</div>
<div class="modal-body" id="modal-body">
   <!-- <button ngf-select ng-model="picFile" >
           Select Picture</button>
           <p>start{{picFile}}end</p>
       <div ngf-drop ng-model="picFile" 
            class="cropArea">
           <img-crop image="picFile  | ngfDataUrl"                 
           result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
           </img-crop>
       </div>
       <div>
           <img ng-src="{{croppedDataUrl}}" />
       </div> -->

   <div>Select an image file: <input type="file" id="businessPhoto" /></div>
   <div class="cropArea">
       <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
   </div>
   <div>Cropped Image:</div>
   <div><img ng-src="{{myCroppedImage}}" /></div>
   <span class="span-color"ng-if="cropperImageErr!=null">{{cropperImageErr}}</span>
   <md-button class="md-raised md-green" ng-click="business.choosePhoto()">Done</md-button>

</div>