<div class="top-servicew">
			<div class="container">
				<div class="rows">
					<div class="col-sm-4 marcard-s">
						<h3 class="top-til">Overview</h3>
							<md-card>
								<div class="overview-provider">
									<div class="logo-part">
										<img src="static/image/logoeastern-logo.png"/>
									</div>									
									<div class="block-location">
										<h4 class="provider">
											<i class="fa fa-map-marker"></i>Location
										</h4>
										<div class="address-s">
											<div class="view-row">Eastern Wellness Clinic</div>
											<div class="view-row">150 Camberwell Road</div>
											<div class="view-row">Box Hill North, Vic 3122</div>
										</div>
										<div class="view-map">
											<md-button md-no-ink class="md-green">View Map</md-button>
										</div>
									</div>
									<div class="divder-s"></div>	
									<div class="block-contact">
										<h4 class="provider">
											<i class="fa fa-bookmark"></i> Location
										</h4>
										<div class="contact-links">
											<ul>
												<li><a href="#" class="active">bookings@businessname.com.au</a></li>
												<li><a href="#">www.easternwellnessclinic.com.au</a></li>
											</ul>
										</div>
									</div>
									<div class="divder-s"></div>
									<div class="block-tradinghour">
										<h4 class="provider">
											<i class="fa fa-clock-o"></i> Trading Hours
										</h4>
										<div class="trading-days">
											<md-list>										
												<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
													<p>Monday</p>
													<div class="md-secondary">9am - 5pm</div>
												</md-list-item>
												<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
													<p>Tuesday</p>
													<div class="md-secondary">9am - 5pm</div>
												</md-list-item>		
												<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
													<p>Wednesday</p>
													<div class="md-secondary">9am - 6pm</div>
												</md-list-item>
												<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
													<p>Thursday</p>
													<div class="md-secondary">9am - 9pm</div>
												</md-list-item>	
												<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
													<p>Friday</p>
													<div class="md-secondary">9am - 9pm</div>
												</md-list-item>
												<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
													<p>Saturday</p>
													<div class="md-secondary">Closed</div>
												</md-list-item>	
												<md-list-item class="secondary-button-padding" ng-click="doPrimaryAction($event)">
													<p>Sunday</p>
													<div class="md-secondary">Closed</div>	
												</md-list-item>	
											</md-list>	
										</div>
									</div>
									
										<div class="divder-s"></div>	
									
									 <div class="block-tradinghour">
										<div class="add-provider">
											<img src="static/image/premim-add.png"/>
										</div>
										<a href="#" class="whats">What’s This?</a>
									</div>
								</div>
							</md-card>		
						
					</div>
					<div class="col-sm-8 marcard-s">
						<h3 class="top-til">Eastern Wellness Clinic</h3>
							<div class="eastern-provider">
								<md-card>
									<div class="block blk-eastern">
										<div class="rows">
											<div class="col-sm-8">
												<div class="left-blk">
													<h3 class="well-title">Eastern Wellness Clinic</h3>
													<div class="well-title-s">Experience the healing energy of our massages and treatments. Our natural healing techniques relieve stress, promote relaxation and increase blood circulation.</div>
													<div class="discription">
														Book now and let us walk you through the different techniques we have to help you re-balance your emotional wellbeing and leave you feeling deeply relaxed and stress-free.
													</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="right-blk">
													<div class="eight-s">88%</div>
													<div class="aveena_score">
														<h5>Avaana Score</h5>
														From 150 Votes
													</div>
													<div class="gb-s">
														<a class="btn btn-default active" href="#">Good <i class="fa fa-thumbs-up"></i></a>
														<a class="btn btn-default" href="#">Bad <i class="fa fa-thumbs-down"></i></a>
													</div>
												</div>										
											</div>
										</div>
									</div>
									<div class="padding">
									 <md-divider></md-divider>
									 </div>
									<div class="block blk-sevices">
										<div class="ser-title" ng-click="provider.serviceToggle()">
											Services and Treatment Menu <span><i class="fa fa-angle-up"></i></span>
										</div>
										<div class="ser-discrip" ng-if="provider.serviceOpen">
											<div class="view-serv">
												<div class="leftpart-s">
													<label>Remedial Massage</label>
													<span><i class="fa fa-clock-o"></i> 60 Min</span>
												</div>
												<div class="rightpart-s">
													<div class="right-width">
														<div class="view-rows">
															<ul>
																<li class="first">Was $150</li>
																<li class="last">Now $90</li>
															</ul>
														</div>
														<div class="view-rows booknow">
															<a class="btn btn-default" href="#">BOOK NOW & SAVE 60%</a>
														</div>
													</div>
												</div>		
											</div>
										</div>


										<div class="ser-discrip" ng-if="provider.serviceOpen">
											<div class="view-serv">
												<div class="leftpart-s">
													<label>Relaxation Therapy</label>
													<span><i class="fa fa-clock-o"></i> 90 Min</span>
												</div>
												<div class="rightpart-s">
													<div class="right-width">
														<div class="view-rows">
															<ul>
																<li class="first">Was $220</li>
																<li class="last">Now $99</li>
															</ul>
														</div>
														<div class="view-rows booknow">
															<a class="btn btn-default" href="#">BOOK NOW & SAVE 55%</a>
														</div>
													</div>
												</div>		
											</div>
										</div>
									</div>
									<div class="padding"> <md-divider></md-divider> </div>
									<div class="block blk-staff">
										<div class="ser-title" ng-click="provider.staffToggle()" >
											Staff Profiles<span><i class="fa fa-angle-up"></i></span>  
										</div>
										<md-list flex ng-if="provider.staffOpen">
											<div class="rows">
												<div class="col-sm-6">
												<md-card style='padding:10px 0px'>
													<md-list-item class="md-3-line">
													<img src="static/image/img_01.png" class="md-avatar"/>
													<div class="md-list-item-text" layout="column">
														<h3>Jennifer Logan</h3>
														<div class="tags">
															<a href="#">Deep Tissue</a>
															<a href="#">Relaxation</a>
															<a href="#">Manicures</a>
															<a href="#">IPL</a>
															<a href="#">Spray Tan</a>
															<a href="#">Advanced Skin Therapy</a>
														</div>
													 </div>
													</md-list-item>
													</md-card>
												</div>										
												<div class="col-sm-6">
												<md-card style='padding:10px 0px'>
													<md-list-item class="md-3-line">
														<img src="static/image/img_02.png" class="md-avatar"/>
														<div class="md-list-item-text" layout="column">
															<h3>Amy Smith</h3>
															<div class="tags">
															<a href="#">Deep Tissue</a>
															<a href="#">Relaxation</a>
															<a href="#">Manicures</a>
															<a href="#">IPL</a>
															<a href="#">Spray Tan</a>
															<a href="#">Advanced Skin Therapy</a>
														</div>
														 </div>
													</md-list-item>
													</md-card>
												</div>
												<div class="col-sm-6">
												<md-card style='padding:10px 0px'>
													<md-list-item class="md-3-line">
														<img src="static/image/img_03.png" class="md-avatar"/>
														<div class="md-list-item-text" layout="column">
															<h3>Kate Briggs</h3>
															<div class="tags">
															<a href="#">Deep Tissue</a>
															<a href="#">Relaxation</a>
															<a href="#">Manicures</a>
															<a href="#">IPL</a>
															<a href="#">Spray Tan</a>
															<a href="#">Advanced Skin Therapy</a>
														</div>
														 </div>
													</md-list-item>
													</md-card>
												</div>
												<div class="col-sm-6">
												<md-card style='padding:10px 0px'>
													<md-list-item class="md-3-line">
														<img src="static/image/img_03.png" class="md-avatar"/>
														<div class="md-list-item-text" layout="column">
															<h3>Brooke Tannent</h3>
															<div class="tags">
															<a href="#">Deep Tissue</a>
															<a href="#">Relaxation</a>
															<a href="#">Manicures</a>
															<a href="#">IPL</a>
															<a href="#">Spray Tan</a>
															<a href="#">Advanced Skin Therapy</a>
														</div>
														 </div>
													</md-list-item>
													</md-card>
												</div>												
											</div>
										</md-list>
									</div>
									<div class="padding"> <md-divider></md-divider> </div>
									<div class="block blk-sevices socialfeeds">
										<div class="ser-title" ng-click="provider.socialToggle()">
											Social Feeds <span><i class="fa fa-angle-up"></i></span>
										</div>
										<div class="ser-discrip" ng-if="provider.socialFieldOpen">
											Social Feed Content
										</div>	
									</div>									
									<div class="block blk-sayingwhat blk-sevices">
										<div class="ser-title" ng-click="provider.sayingToggle()">
											What You’re Saying <span><i class="fa fa-angle-up"></i></span>
										</div>
										<div class="ser-discrip" ng-if="provider.sayingOpen">
											<md-list flex>												
												<md-list-item class="md-3-line">
												 <img src="static/image/img_03.png" class="md-avatar"/>
												  <div class="md-list-item-text" layout="column">
													<h3>Aquabella</h3>
													<h4>Review by Jenny</h4>
													<div class="discrip">Had a fantastic experience at this spa. It’s worthy of its reviews and ratings and we had a great and relaxing time with great staff. They were super friendly and made me feel fansatic after my treatment.</div>
													<div class="saying-good">
														<div class="left gb-s">
															<a href="#" class="btn btn-default active">Good <i class="fa fa-thumbs-up"></i></a>
														</div>
														<div class="right">
															<span class="rating-s">Rating</span>
															<span class="star-rs">
																<a href="#" class="green-clr"><i class="fa fa-star"></i></a>
																<a href="#"><i class="fa fa-star"></i></a>
																<a href="#"><i class="fa fa-star"></i></a>
																<a href="#"><i class="fa fa-star"></i></a>
																<a href="#"><i class="fa fa-star"></i></a>
															</span>
														</div>
													</div>
												  </div>
												</md-list-item>
											</md-list>
										</div>
									</div>
									<div class="padding"> <md-divider></md-divider> </div>
									
								</md-card>
							</div>
					</div>
	
				</div>
			</div>
		</div>
		