
<div style="background-image:url('static/image/hero-bg.png');padding-top:80px;padding-bottom:20px">
<div layout="column" layout-align="center center" layout-fill >
  <div class="loginBox md-whiteframe-z1" layout="column">
    <md-toolbar>
      <h2 class="md-toolbar-tools md-raised md-green" layout-align="center center">
        <span> Avaana Sign Up</span>
      </h2>
    </md-toolbar>
    <md-content class="md-padding" layout="column">
                <md-card-avatar layout="row" layout-align="center center">  
                  <img class="md-user-avatar" src="static/image/user.png"  style="height:100px;width:100px;border-radius:50px;">
                </md-card-avatar>
                <md-input-container>
                    <label> First Name</label>
                    <input type="text" ng-model="register.first_name">
                    <span style='color:red;' ng-if="register.firstnameErr!=null">{{register.firstnameErr}}</span>
                </md-input-container>
                <md-input-container>
                    <label> Last Name</label>
                    <input type="text" ng-model="register.last_name">
                    <span style='color:red;' ng-if="register.lastnameErr!=null">{{register.lastnameErr}}</span>
                </md-input-container>
                <md-input-container>
                    <label> EmailAddress</label>
                    <input type="input" ng-model="register.username">
                    <span style='color:red;' ng-if="register.usernameErr!=null">{{register.usernameErr}}</span>
                </md-input-container>
                <md-input-container>
                    <label> Password</label>
                    <input type="password" ng-model="register.password">
                    <span style='color:red;' ng-if="register.passwordErr!=null">{{register.passwordErr}}</span>
                </md-input-container>
                <md-input-container>
                    <label> Phone Number</label>
                    <input type="text" ng-model="register.phone">
                    <span style='color:red;' ng-if="register.phoneErr!=null">{{register.phoneErr}}</span>
                </md-input-container>
                <div layout="row" style="padding-top:20px;">
                    <md-button class="md-raised md-green" ng-click="register.signup()">Sign Up</md-button>
                    <div flex layout-align="right right">
                        <md-button ng-click='login()' md-no-ink>Already have Account? Login</md-button>
                    </div>
                </div>
            </md-content>  
  </div>
</div>
</div>
