		<div class="row">
			<div class="col-lg-12">
				<div class="hero-bg" style="background-image:url('static/image/hero-bg.png'); min-height:500px;">
					<div class="hero-text">
						<h3 class="md-title">Find and book your next massage. spa treatment or<br/> acupuncture session on Avaana</h3>
<!-- 						 <md-input-container class="home-select service-s"> -->
							<!--<md-select ng-model="app.service">
								<md-option value="Services or Business">Services or Business</md-option>
								<md-option value="Services1">Services1</md-option>-->


								<!-- <span class="error" ng-show="app.errorCat">*Field is required</span> -->



								<!-- <div class="category-select" ng-show="app.afterCat"><button>{{app.categorySelected}}</button> -->
								
								<div class="complgroup-s">
				<div class="category-select" ng-show="app.afterCat"><button>{{app.categorySelected}}</button> <span ng-click="cancelCategory()">X</span></div>
									<md-autocomplete class="category-bar"
									   md-selected-item-change="app.selectFromList(app.serviceSearchTxt)"
          								md-selected-item="app.serviceSelected" 
          								md-search-text="app.serviceSearchTxt" 
          								md-items="item in app.getMatches(app.serviceSearchTxt)" 
          								md-item-text="item.name" 
          								placeholder="Search states" 
          								md-no-cache="true"
          								md-min-length="0">
								        <div>Popular Category</div> 
								        <md-item-template>
								          <span class="item-title">
								            <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
								            <span> {{item.name}} </span>
								          </span>
								        </md-item-template>								       
								      </md-autocomplete>
								      </div>
							<!-- </md-select> -->
						 <!-- </md-input-container>  -->
						<!-- <md-input-container class="home-select location-s"> -->
						 <!-- <label>Location</label> -->
						<!-- 	<md-select ng-model="app.location">
								<md-option value="location1">location1</md-option>
								<md-option value="location2">location2</md-option>
							</md-select>
						</md-input-container> -->


   <!-- <span class="error" ng-show="app.errorLoc">*Field is required</span> -->
 
	<md-autocomplete class="location-bar" md-search-text-change="app.searchLocTextChange(app.locSearchTxt)" md-selected-item-change="app.selectFromLocList(app.locSearchTxt)" md-search-text="app.locSearchTxt" md-items="item in app.getMatchesLoc(app.locSearchTxt)" md-item-text="item.name" placeholder="Search Location" md-no-cache="true" md-min-length="0">
		
 <md-item-template>
								          <span class="item-title">
								            <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
								            <span> {{item.name}} </span>
								          </span>
								        </md-item-template>

								     

	</md-autocomplete>





						<span class="home-select date-s">
							<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
						</span>
						<span class="search-home">
							 <md-button class="md-raised md-green" ng-click="app.postSearch()">SEARCH</md-button>
						</span>
					</div>
				</div>
			</div>
		</div>